/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.panel-heading {
  font-size: 1.2em;
  font-weight: bold;
}

.panel-heading input,
h4 input {
  background-color: inherit;
  width: 100%;
}

#work-space .main-menu-item .label {
  cursor: pointer;
}

.btn .glyphicon,
.label .glyphicon {
  top: 0.15em;
}

.panel-heading.extendable input {
  width: 90%;
}

.topic-posts {
  display: block;
  margin-top: 16px;
  width: 100%;
}

.panel-body .list-group.posts-list {
  margin-left: 5%;
  width: 93%;
}

.panel-body textarea {
  width: 100%;
}

.panel-body .crud-buttons {
  margin-bottom: 6px;
}

.panel-body [data-submit],
.alert .btn {
  margin-left: 4px;
}

nav button {
  margin-left: 3px;
}

#flash {
  margin-top: 10px;
}

#flash .alert {
  margin-bottom: 5px;
}

#smoke-screen {
  background-color: #fff;
  opacity: 0.8;
  height: 100%;
  margin-top: -50px;
  position: fixed;
  width: 100%;
  z-index: 2000;
}

#popup-container .popup {
  height: 50%;
  left: 50%;
  margin-left: -25%;
  margin-top: -15%;
  position: fixed;
  top: 50%;
  width: 50%;
  z-index: 2001;
}

